body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2C3E50; /* Dark Blue Background */
}

.container {
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #1F2D38,
        -12px -12px 20px #334756;
}

.display #screen {
    color: #fff;
    width: 97%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #34495E; /* Darker Blue for Screen Background */
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #1F2D38,
                inset -8px -8px 8px #334756;
}

.btns{
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns .row button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #1F2D38, /* Adjusted shadow color */
                -5px -5px 8px #334756; /* Adjusted shadow color */
    transition: .1s;
}

.btns .row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
                inset -5px -5px 8px #1F2D38; /* Darker shadow color */
    background: #2C3E50; /* Adjusted background color on hover */
    color: #FFCC00; /* Adjusted text color on hover */
}

#eval {
    background: #007BFF; /* Dark blue */
    color: #FFFFFF; /* White text */
    box-shadow: inset 5px 5px 8px #004c99, /* Darker blue shadow */
                inset -5px -5px 8px #0099ff;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #0099ff,
                inset -5px -5px 8px #0099ff;
}

#ac {
    background: #FF9933; /* Orange */
    color: #fff; /* White text */
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #cc7a00, /* Darker orange shadow */
                inset -5px -5px 8px #FF9933;
}

#ce {
    background: #4CAF50; /* Green */
    color: #fff; /* White text */
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #388E3C, /* Darker green shadow */
                inset -5px -5px 8px #4CAF50;
}
